#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#dog-show {
  display:none;
}

.clickable-dog {
  cursor: pointer;
  color: #0088cc;
}

#zoo-slide {
  display:none;
}

.clickable-firstzoo {
  cursor: pointer;
  color: #0088cc;
}

.clickable-firstzoo {
  text-decoration: underline;
}
